mkl-fft==1.2.0
mkl-random==1.2.0
mkl-service==2.3.0
networkx==2.5
pandas==1.1.5
Pillow==8.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
PyYAML==3.12
requests==2.25.1
scikit-learn==0.24.0
scipy==1.5.4
seaborn==0.11.1
threadpoolctl==2.1.0
torch==1.8.0
torchaudio==0.8.0
torchvision==0.9.0
tqdm==4.55.1
urllib3==1.26.2
flask==2.2.2
flask-Cors==3.0.10
gensim==4.2.0
openpyxl==3.0.10
xlrd==1.2.0

